In [49]:
import pandas as pd
from sqlalchemy import create_engine

In [50]:
engine = create_engine("mysql+mysqlconnector://root:012345@127.0.0.1/PATIENTS_PACEMAKER_MANAGEMENT_SYSTEM")

In [52]:
df = pd.read_sql(query, engine)

In [51]:
query = "SELECT * FROM patients"

In [53]:
df.to_excel("patients.xlsx", index=False)
df

,PATIENT_ID,NAME,DATE_OF_BIRTH,GENDER,PHONE_NUMBER,EMAIL_ID,ADDRESS
0,PID001,Arjun Rajendran,1985-07-15,Male,9876543210,arjun.r@gmail.com,"12 Gandhi Street, Chennai"
1,PID002,Meenakshi Sundaram,1990-11-22,Female,8765432190,meenakshi.s@gmail.com,"45 Temple Road, Madurai"
2,PID003,Karthikeyan Pillai,1978-03-08,Male,7654321890,karthikeyanpillai@gmail.com,"78 Beach Avenue, Pondicherry"
3,PID004,Deepika Iyer,1982-09-30,Female,6543219870,deepika.i@gmail.com,"34 Market Street, Coimbatore"
4,PID005,Senthil Kumar,1995-04-17,Male,9432108765,senthil.k@gmail.com,"56 Hill View, Ooty"
...,...,...,...,...,...,...,...
95,PID096,Lakshmi Narasimhan,1988-10-30,Female,9876543211,lakshmi.n@gmail.com,"23 Greenfield, Tirunelveli"
96,PID097,Srinivas K,1979-11-05,Male,6765432191,srinivas.k@gmail.com,"34 Hilltop, Kanyakumari"
97,PID098,Priyanka Menon,1994-12-10,Female,7654321981,priyanka.m@gmail.com,"56 Ocean Drive, Mahabalipuram"
98,PID099,Ajith Kumar,1986-01-15,Male,9543219871,ajith.k@gmail.com,"12 Sunset Boulevard, Thanjavur"
99,PID100,Nandhini R,1990-02-20,Female,9432108766,nandhini.r@gmail.com,"34 Park Avenue, Salem"

In [54]:
df.to_excel(r"C:\Users\Datchnamoorthy R\Downloads\patients.xlsx", index=False)
df

,PATIENT_ID,NAME,DATE_OF_BIRTH,GENDER,PHONE_NUMBER,EMAIL_ID,ADDRESS
0,PID001,Arjun Rajendran,1985-07-15,Male,9876543210,arjun.r@gmail.com,"12 Gandhi Street, Chennai"
1,PID002,Meenakshi Sundaram,1990-11-22,Female,8765432190,meenakshi.s@gmail.com,"45 Temple Road, Madurai"
2,PID003,Karthikeyan Pillai,1978-03-08,Male,7654321890,karthikeyanpillai@gmail.com,"78 Beach Avenue, Pondicherry"
3,PID004,Deepika Iyer,1982-09-30,Female,6543219870,deepika.i@gmail.com,"34 Market Street, Coimbatore"
4,PID005,Senthil Kumar,1995-04-17,Male,9432108765,senthil.k@gmail.com,"56 Hill View, Ooty"
...,...,...,...,...,...,...,...
95,PID096,Lakshmi Narasimhan,1988-10-30,Female,9876543211,lakshmi.n@gmail.com,"23 Greenfield, Tirunelveli"
96,PID097,Srinivas K,1979-11-05,Male,6765432191,srinivas.k@gmail.com,"34 Hilltop, Kanyakumari"
97,PID098,Priyanka Menon,1994-12-10,Female,7654321981,priyanka.m@gmail.com,"56 Ocean Drive, Mahabalipuram"
98,PID099,Ajith Kumar,1986-01-15,Male,9543219871,ajith.k@gmail.com,"12 Sunset Boulevard, Thanjavur"
99,PID100,Nandhini R,1990-02-20,Female,9432108766,nandhini.r@gmail.com,"34 Park Avenue, Salem"

In [48]:
engine.dispose()